<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* Estilos para el título */
        h1 {
            text-align: center;
            font-size: 24px;
            color: #007bff;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <h1>¡Matrículas Abiertas!</h1>

    <p style="text-align: center;">
        Gracias por unirte a nuestra comunidad. Para comenzar, por favor confirma tu dirección de correo electrónico haciendo clic en el enlace de matrícula a continuación:
    </p>

    <p style="text-align: center;">
        <a href="{{ signedUrl|raw }}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: 2px solid #007bff; border-radius: 5px; font-weight: bold;">Confirmar Matrícula</a>
    </p>

    <p style="text-align: center;">
        Este enlace de matrícula expirará en 1 hora. Si no solicitaste esto, puedes ignorar este correo con seguridad.
    </p>

    <p style="text-align: center;">
        Si tienes algún problema o preguntas relacionadas con matrículas, no dudes en contactar a nuestro equipo de soporte en support@example.com.
    </p>

    <p style="text-align: center;">
        ¡Bienvenido a bordo y gracias por elegirnos!
    </p>
</body>
</html>
