{% extends 'base.html.twig' %}

{% block title %}Inicio de Sesión Exitoso{% endblock %}

{% block body %}
    <div class="alert alert-success">
        INICIO DE SESION
    </div>
    <p>LOGEO EXITOSO</p>
    <p><a href="{{ path('app_inicio') }}">Ir a la página principal</a></p>
{% endblock %}
