{# curso/index.html.twig #}
{% extends 'curso/base.html.twig' %}

{% block nav %}
    {{ parent() }} {# Esto incluirá el contenido del bloque original del menú #}
    
    </ul>
{% endblock %}

{% block body %}
    <h1>BIENVENIDO A LA VISTA DE ADMIN</h1>
{% endblock %}